{% extends 'glam_user/base.html' %}
{% load static %}
{% block content %}
<style>
    /* Custom styling to remove button appearance */
    body{
        background-color: #F5F5F5;
    }
     /* Custom styling for the card */
    .card-custom {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .card-header-custom {
        background-color: #FFDEAD;
        color: black;
        padding: 16px;
        font-size: 18px;
    }
    .card-body-custom {
        padding: 24px;
    }
    .form-group {
        margin-bottom: 1.5rem;
    }
    .form-control {
        border-radius: 5px;
        border: 1px solid #ced4da;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

</style>
<body>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y bg">
        <div class="container">
            <div class="row mt-4">
                {% include 'glam_user/includes/dashboard_sidebar.html' %}
                <main class="col-md-9">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="card card-custom">
                                <div class="card-header-custom">
                                    Change Password
                                </div>
                                 
                                <div class="card-body card-body-custom">
                                    {% for message in messages %}
                                        {% if message.tags == "error" %}
                                        <p class="alert alert-danger">{{message}}!!!</p>
                                        {% else %}
                                        <p class="alert alert-success">{{message}}</p>
                                        {% endif %}
                                    {% endfor %}
                                    <form id="profile-form" action="{% url 'change_password' %}" method="POST" >
                                        {% csrf_token %}
                                        <div class="form-row mt-3">
                                            <div class="form-group col-md-6">
                                                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old password">
                                            </div>
										</div>

										<div class="form-row mt-3">
                                            <div class="form-group col-md-6">
                                                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New password">
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="form-group col-md-6">
                                                <input type="password" class="form-control" id="retype_password" name="retype_password" placeholder="Retype New password" >
                                            </div>
                                        </div>
										<div class="form-row mt-3">
                                            <div class="form-group col-md-6">
											    <button type="submit" id="save-btn" class="btn btn-primary" >Save Changes</button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
								
                            </div>
                        </div>
						
                    </div>
                </main>
            </div> <!-- row.// -->
			
        </div>
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <script>
$(document).ready(function(){
    $.validator.addMethod("validPassword", function(value, element) {
        return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{5,}$/.test(value);
    },"Password must be at least 5 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.");

	$('#profile-form').validate({
		rules: {
			old_password:{
				required: true,
			},
            new_password:{
				required: true,
                validPassword: true
			},
            retype_password:{
				required: true,
                equalTo:"#new_password",
			},
		},
		messages: {
			old_password: {
                required: "Please enter your password",
            },
            new_password: {
                required: "Please enter your new password",
                validPassword: "Password must be at least 5 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character."
            },
            retype_password: {
                required: "Please confirm new your password",
                equalTo: "Passwords do not match"
            }
		},
		errorElement: 'div',
        errorPlacement: function(error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function(element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function(element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
	});
});
</script>
</body>
</html>
{% endblock %}
