{% extends 'glam_user/base.html' %}
{% load static %}
{% block content %}
<style>
    /* Custom styling to remove button appearance */
    .btn-icon {
        border: none;
        background-color: transparent;
        padding: 0;
    }
    body{
        background-color: #F5F5F5;
    }
	.faq-section {
        margin-top: 40px;
    }
    .faq-section h6 {
        font-weight: bold;
    }
    .faq-section p {
        margin-bottom: 15px;
    }
    .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
</style>
<body>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y bg">
        <div class="container">
            <div class="row mt-4">
                {% include 'glam_user/includes/dashboard_sidebar.html' %}
                <main class="col-md-9">

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row mt-3 justify-content-center align-items-center">
                                        <div>
                                            <img src="{% static 'glam_user/img/refer.png' %}" class="img-fluid" style="height: 300px; width: auto;">
                                        </div>
                                        <div class="text-center">
                                            <h4 class="text-warning">INVITE FRIENDS AND EARN </h4><br>
                                            <p class="text-dark">Invite Friends & Earn $ 50 GlamMart Wallet Points For Every Friend</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row mt-3">
                                        <h5 class="text-dark">Your Referral Code<br></h5>
                                        <h4 class="text-dark"><br><strong>{{user_profile.referral_code}}</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    {% if applied_referral_code %}
                                        <h6> Applied Referral Code: </h6> <br><h6 class="text-success"> {{ applied_referral_code }} </h6>
                                    {% else %}
                                        <h5 class="text-dark">Have a referral code</h5><br>
                                        <form method="post" action="{% url 'apply_referral' %}">
                                            {% csrf_token %}
                                            <input type="text" name="referral_code" placeholder="Enter referral code" value="{{ referral_code }}">
                                            <button type="submit">Apply Referral Code</button>
                                        </form>
                                    {% endif %}
                                </div>
                                {% for message in messages %}
                                <h6 class="text-danger ml-3 mb-3">{{message}}</h6>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </main>
            </div> <!-- row.// -->
        </div>
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
</html>
{% endblock %}
